.background { 
    background-color: #84e0f5;
} 

.nav-wrapper {
    font-family: 'Carter One', cursive;
}
.headingone{
    font-family: 'Grenze', serif;
}
.FirstHeader{
    font-family: 'Baloo Chettan', cursive;
}
.links {
    color: #5f5a9c;
    font-weight: bold;
}

.text {
    color: #000080;
    font-weight: bold;
}
/*}*/
