<html>

<head>
  <meta charset="utf-8">
  <title>Welcome to the Mood Booster</title>
  <link rel="stylesheet" type="text/css" href="/static/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Fjalla+One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Bree+Serif&display=swap" rel="stylesheet">

</head>

<body class="blue-grey lighten-4">
  
  <center><h1 class="title"> What is your mood? </h1></center>
  
  <form method="post" action="/results">
    <div class="row">
      <div class="col l6">
          <label class="block">
            <input name="mood" type="radio" value="Happy" checked />
            <span class="answer" style="font-size: 40px">Happy</span>
          </label>
      </div>
      <div class="col l6">
          <label class="block">
            <input name="mood" type="radio" value="sad" />
            <span class="answer" style="font-size: 40px">Sad</span>
          </label>
      </div>
    </div>  
    <div class="row">
      <div class="col l6">
        <label class="block">
          <input name="mood" type="radio" value="ambitious"  />
          <span class="answer" style="font-size: 40px">Ambitious</span>
        </label>
      </div>
      <div class="col l6">
        <label class="block">
          <input name="mood" type="radio" value="angry" />
          <span class="answer" style="font-size: 40px">Angry</span>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col l6">
        <label class="block">
          <input name="mood" type="radio" value="woke" />
          <span class="answer" style="font-size: 40px">Woke</span>
        </label>
      </div>
      <div class="col l6">
        <label class="block">
          <input name="mood" type="radio" value="scared" />
          <span class="answer"style="font-size: 40px">Scared</span>
        </label> 
      </div>
    </div>
    <div class="row">
      <div class="col l6">
        <label class="block">
          <input name="mood" type="radio" value="surprised" />
          <span class="answer" style="font-size: 40px">Surprised</span>
        </label>
      </div>
      <div class="col l6">
        <label class="block">
          <input name="mood" type="radio" value="disgust" />
          <span class="answer" style="font-size: 40px">Disgusted</span>
        </label> 
      </div>
    </div>  
    <div class="row">
      <div class="col l6">
        <label class="block">
          <input name="mood" type="radio" value="confused" />
          <span class="answer" style="font-size: 40px">Confused</span>
        </label> 
      </div>
      
    
    <div class="row">
      <div class="col l6">
        <label class="block">
          <input name="mood" type="radio" value="heartbroken" />
          <span class="answer" style="font-size: 40px">Heartbroken</span>
        </label> 
      </div>
    
    </div> 
    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
    </button>
  
    </p>
    
  </form>
  

  
  
  
  
  
  <form method="post" action="/quiz">
    <button class= "btn-large pulse"><i class="material-icons" type="submit" formtarget="_blank"></i>Take Quality of Life Quiz</button>
  </form>
  

  


</body>

</html>
