
  <!DOCTYPE html>
  <html>
    <head>
      <meta charset="UTF-8" />
      <title>Quality of Life Quiz Results</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
      <link rel="stylesheet" href="/static/stylequizresults.css" type="text/css" />
      <!--<link href="https://fonts.googleapis.com/css?family=Geostar&display=swap" rel="stylesheet">-->
      <!--<link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">-->
      <link href="https://fonts.googleapis.com/css?family=Carter+One&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Grenze&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Baloo+Chettan&display=swap" rel="stylesheet">
      
    </head>



    <body class="indigo lighten-5">
      <script type="text/javascript" src="js/materialize.min.js"></script>
      
      
         
      
        <nav>
          <div class="nav-wrapper">
            <a href="#" class="brandlogo">Quality Of Life</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><a href="https://www.betterhelp.com/helpme/?utm_source=AdWords&utm_medium=Search_PPC_c&utm_term=depression+hotline_e&utm_content=82013688212&network=g&placement=&target=&matchtype=e&utm_campaign=2079213825&ad_type=text&adposition=1t1&gclid=CjwKCAjwm4rqBRBUEiwAwaWjjKCmI0R1e3CbrQEoFSCQkb8K47B8SvkBFTcRViihmXh_gDgIaKAUGhoCnakQAvD_BwE&not_found=1&gor=helpme">Depression Hotline</a></li>
              <li><a href="https://www.dbsalliance.org/crisis/suicide-hotline-helpline-information/">Suicide Hotline and Helpline Information</a></li>
              <li><a href="https://us.trintellix.com/depression-symptom-checklist/?utm_source=google&utm_medium=cpc&utm_campaign=unbranded_condition&gclid=CjwKCAjwm4rqBRBUEiwAwaWjjJEcKLKAUPw8-NzBVLR1z1X_5Yi3wh_BWYcRLxTqgkjF1rSBVu2SLBoC5rwQAvD_BwE&gclsrc=aw.ds">Get Help If Depressed</a></li>
            </ul>
          </div>
        </nav>
        
        <center><h1 class="headingone">Based on your answers, our survey suggests that:</h1></center>
        <center><h3 class="FirstHeader">{{depression_diagnosis}}</h3></center>
      
      
      
      
        <body class="background">
      <div class="container blue lighten-4 z-depth-1 spacing">
        <center><h1 class="headingone">What is Quality of Life?</h1></center>
        <!--<div class="row font_styling">-->
        <!--  <div class="col s2">Level 1</div>-->
        <!--  <div class="col s2">Level 2</div>-->
        <!--  <div class="col s2">Level 3</div>-->
        <!--  <div class="col s2">Level 4</div>-->
        <!--  <div class="col s4">Level 5</div>-->
        <!--</div>-->
      </div>
      
  
      <div class="container purple lighten-4 z-depth-1">
        <div class="row">
          <!--<div class="col m12">Links to Better your Mood</div>-->
          <!--<h5>Helpful Links</h5>-->
          <div class="col m7">
             
              
            <center></center><div class="row font_styling">
              <div class="col m6 font_styling">
                <center><h5 class=headingone>Helpful Links</h5></cente>
                <br>
                <center><b></b><a class="links" href="https://www.psychologytoday.com/us/blog/hide-and-seek/201701/10-simple-ways-improve-your-mood-when-youre-feeling-down" target="_blank">How to Improve Your Health When Feeling Down</a></b></center>
                <br>
                
                <center><a class="links" href="https://psychcentral.com/blog/10-tips-for-finding-happiness/" target="_blank">Tips for Finding Happiness</a></center>
                
                <br>
                <a class="links" href="https://www.sonima.com/meditation/mindful-living/inner-peace/" target="_blank">Finding Peace Through Meditation</a>
                <br>
                <br>
                <center><a class="links" href="https://www.bustle.com/p/why-does-yoga-make-you-feel-calm-science-has-a-few-theories-9573116" target="_blank">Searching Tranquility Through Yoga</a></center>
                
                
                
              </div></center>
  
              <div class="col m6">
                
                <center><div class="text">Quality of life is an overarching term for the quality of the various domains in life. It is a standard level that consists of the expectations of an individual or society for a good life. The Human Development Index is the most commonly used measure of development. In more simple terms, quality of life is the degree to which an individual is healthy, comfortable, and able to participate in or enjoy life events. </div></center>
              </div>
            </div>
          </div>
  
          <div class="col m5">
            <div class="row">
              <div class="col m6"></div>
  
              <img class="responsive-img col m6" src="/static/life.png" style="width:400px;height:300px;">
            </div>
            <div class="row">
              <div class="col m6"></div>
              <!--<img class="responsive-img col m6" src="bbSquirtle2.jpg">-->
            </div>
          </div>
        </div>
      </div>
  
      <center><div class="container pink lighten-4 z-depth-1">
        <h1 class="headingone">Human Development Index</h1>
        <div class="row">
          <div class="col s2"></div>
          <center><img class="responsive-img col s2" src="/static/hdi.png" style="width:800px;height:400px;"></center>
        </div></center>
      </div>
         
    <form method="get" action='/index'>
        <button class= "btn-large pulse"><i class="material-icons" type="submit" formtarge="_blank"></i>Go back</button>
    </form>
    
    </body>
  </html>
        