<!DOCTYPE html>
<html>
    <head>
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    </head>
    <body class="red lighten-3">
        <br></br>
        <br></br>
        <br></br>
        <br></br>
        <h1 class="center-align">Please answer all the questions in the quiz, don't you want to know your quality of life?</h1></center>


    <form method="get" action='/index'>
        <button class= "btn-large pulse"><i class="grey darken-3"  type="submit" formtarge="_blank"></i>Go back</button>
    </form>
    </body>
</html>